@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.add-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .add-padding {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.hero {
  height: 460px;
  max-width: 280px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/hero-img/mobile-hero-img@1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/hero-img/mobile-hero-img@2x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/hero-img/mobile-hero-img@3x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 222px;
    max-width: 704px;
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/hero-img/tablet-hero-img@1x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/hero-img/tablet-hero-img@2x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/hero-img/tablet-hero-img@3x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 316px;
    max-width: 1216px;
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/hero-img/desktop-hero-img@1x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/hero-img/desktop-hero-img@2x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .hero {
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/hero-img/desktop-hero-img@3x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px;
}

.hero__btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  padding: 10px 26px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .hero__btn {
    margin-bottom: 8px;
  }
}

.btn-home {
  color: #ffffff;
  background-color: #000000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-home:hover {
  background: #b92f2c;
  color: #000000;
}

.btn_library {
  color: #000000;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn_library:hover {
  background-color: #b92f2c;
  color: #ffffff;
}

.hero__form {
  position: relative;
}

.hero__input {
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 1.16;
  width: 100%;
  border-radius: 100px;
  border: none;
  padding: 10px 14px;
  outline: transparent;
}
.hero__input::-moz-placeholder {
  color: #000000;
  font-size: 12px;
  line-height: 1.16;
}
.hero__input::placeholder {
  color: #000000;
  font-size: 12px;
  line-height: 1.16;
}

.hero__submit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
}
.hero__submit:hover .hero__btn--icon {
  stroke: #b92f2c;
  scale: 1.2;
}

.hero__btn--icon {
  width: 14px;
  height: 14px;
  stroke: #000000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .logo {
    margin-bottom: 8px;
  }
}

.logo-link {
  text-decoration: none;
}

.logo__icon {
  margin-right: 8px;
}

.logo__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 16px;
  }
  .hero__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .btn-home {
    padding: 12px 24px;
  }
  .btn_library {
    padding: 12px 20px;
  }
  .hero__form {
    margin-right: 4px;
  }
  .hero__input {
    width: 165px;
    padding: 11px 16px;
  }
  .hero__submit {
    right: 16px;
  }
  .hero__btn--icon {
    width: 16px;
    height: 16px;
  }
  .logo {
    display: flex;
    justify-content: flex-start;
  }
  .logo__icon {
    width: 40px;
    height: 40px;
  }
  .logo__title {
    font-size: 40px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 32px;
  }
  .btn-home {
    padding: 14px 32px;
    margin-right: 4px;
  }
  .btn_library {
    padding: 14px 24px;
  }
  .hero__form {
    margin-right: 8px;
  }
  .hero__input {
    width: 187px;
    padding: 13px 16px;
  }
  .hero__input::-moz-placeholder {
    font-size: 14px;
    line-height: 1.14;
  }
  .hero__input::placeholder {
    font-size: 14px;
    line-height: 1.14;
  }
  .logo__icon {
    width: 59px;
    height: 59px;
  }
  .logo__title {
    font-size: 64px;
  }
}
.library-header-buttons {
  display: flex;
}

.hero__btn-mylib {
  display: none;
  padding-right: 16px;
}

.btn-watched {
  color: #b92f2c;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 14px 32px;
  margin-right: 8px;
}
.btn-watched:hover {
  color: #ffffff;
  background: #b92f2c;
}

.btn-queue {
  color: #ffffff;
  background-color: #b92f2c;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 14px 24px;
}
.btn-queue:hover {
  color: #000000;
  background: #ffffff;
}

.is-hidden {
  display: none;
}

.scss .gallery-wrap {
  padding: 0 20px 20px 20px;
  min-height: calc(100vh - 300px);
}
@media screen and (min-width: 768px) {
  .scss .gallery-wrap {
    padding-bottom: 40px;
  }
}

.gallery {
  padding-bottom: 20px;
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    gap: 32px 16px;
  }
}

.movie-card {
  width: 280px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.movie-card:hover, .movie-card:focus {
  box-shadow: 13px 13px 21px -1px rgba(0, 0, 0, 0.58);
}
@media screen and (min-width: 768px) {
  .movie-card {
    width: 336px;
    margin-bottom: 0;
  }
  .movie-card:hover, .movie-card:focus {
    transform: scale(1.05);
  }
}
@media screen and (min-width: 1280px) {
  .movie-card {
    width: 394px;
  }
}

.movie-card__image {
  border-radius: 10px;
  min-width: 280px;
  min-height: 402px;
}
@media screen and (min-width: 768px) {
  .movie-card__image {
    min-height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-card__image {
    min-height: 574px;
  }
}

.movie-card__name {
  padding-left: 5 px;
  margin-top: 10px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap; /* текст не переноситься */
  overflow: hidden; /* обрізає все за межами блоку  */
  text-overflow: ellipsis; /* додає три крапки */
}
@media screen and (min-width: 768px) {
  .movie-card__name {
    margin-top: 8px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1280px) {
  .movie-card__name {
    margin-top: 12px;
    line-height: 1.2;
    font-size: 20px;
  }
}

.movie-card__text {
  display: flex;
  padding-bottom: 2px;
  font-weight: 500;
  line-height: 1.3;
  color: #b92f2c;
  align-items: baseline;
}
@media screen and (min-width: 1280px) {
  .movie-card__text {
    line-height: 1.2;
    font-size: 20px;
  }
}

.movie-card__box {
  position: absolute;
  right: 10px;
  top: 10px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  width: 36px;
  height: 16px;
  background: #b92f2c;
  border-radius: 5px;
}

.movie-card__average {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #ffffff;
}

/** Modal */
.modal {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  max-width: 300px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.modal-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

/** Overlay */
.overlay {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/** JS */
.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.footer {
  background-color: #f7f7f7;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.copyright {
  display: block;
}
@media screen and (max-width: 767px) {
  .copyright {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 768px) {
  .copyright {
    display: inline-block;
  }
}

.footer-text {
  color: #545454;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (max-width: 767px) {
  .footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.187;
  }
}

.footer-link:hover,
.footer:focus {
  color: #b92f2c;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg {
  margin-right: 10px;
  margin-left: 10px;
}

.team-modal {
  border: none;
  background: initial;
  cursor: pointer;
  text-decoration: underline;
  color: #545454;
}

.basicLightbox {
  overflow: scroll;
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
  width: 220px;
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: calc(100vw - 10px);
  max-width: 806px;
  min-height: 609px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal__img {
  width: 250px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  padding: 8px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn-close__icon {
  fill: getColor("font-colot-hed");
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#NotiflixNotifyWrap {
  position: absolute;
}
@media screen and (max-width: 320px) {
  #NotiflixNotifyWrap {
    top: 115px;
    left: 36px;
  }
}
@media screen and (min-width: 321px) {
  #NotiflixNotifyWrap {
    top: 85px;
    left: 53px;
  }
}
@media screen and (min-width: 1280px) {
  #NotiflixNotifyWrap {
    top: 90px;
    left: 70px;
  }
}/*# sourceMappingURL=index.css.map */