@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 15px rgba(185, 47, 44, 0.1);
}
body::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 0 0 15px rgba(185, 47, 44, 0.6);
}
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #f7d0cf;
}
body::-webkit-scrollbar-thumb:hover {
  background: #b92f2c;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.add-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .add-padding {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.notiflix-position {
  position: relative;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.hero {
  height: 460px;
  max-width: 280px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/hero-img/mobile-hero-img@1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/hero-img/mobile-hero-img@2x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/hero-img/mobile-hero-img@3x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 222px;
    max-width: 704px;
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/hero-img/tablet-hero-img@1x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/hero-img/tablet-hero-img@2x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/hero-img/tablet-hero-img@3x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 316px;
    max-width: 1216px;
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/hero-img/desktop-hero-img@1x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/hero-img/desktop-hero-img@2x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .hero {
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url(../images/hero-img/desktop-hero-img@3x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px;
}

.hero__btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  padding: 10px 26px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.btn-home {
  color: #ffffff;
  background-color: #000000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-home:hover, .btn-home:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.06), 5px 8px 12px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  .btn-home {
    margin-bottom: 8px;
  }
}

.btn_library {
  color: #000000;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn_library:hover, .btn_library:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.06), 5px 8px 12px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  .btn_library {
    margin-bottom: 8px;
  }
}

.hero__form {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.hero__input {
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 1.16;
  width: 100%;
  border-radius: 100px;
  border: none;
  padding: 10px 14px;
  outline: transparent;
}
.hero__input::-moz-placeholder {
  color: #000000;
  font-size: 12px;
  line-height: 1.16;
}
.hero__input::placeholder {
  color: #000000;
  font-size: 12px;
  line-height: 1.16;
}

.hero__submit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
}
.hero__submit:hover .hero__btn--icon {
  stroke: #b92f2c;
  scale: 1.2;
}

.hero__btn--icon {
  width: 14px;
  height: 14px;
  stroke: #000000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .logo {
    margin-bottom: 8px;
  }
}

.logo-link {
  text-decoration: none;
}

.logo__icon {
  margin-right: 8px;
}

.logo__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .btn-theme {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 16px;
    position: relative;
  }
  .hero__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .btn-home {
    padding: 12px 24px;
  }
  .btn_library {
    padding: 12px 20px;
  }
  .hero__form {
    margin-right: 4px;
  }
  .hero__input {
    width: 165px;
    padding: 11px 16px;
  }
  .hero__submit {
    right: 16px;
  }
  .hero__btn--icon {
    width: 16px;
    height: 16px;
  }
  .logo {
    display: flex;
    justify-content: flex-start;
  }
  .logo__icon {
    width: 40px;
    height: 40px;
  }
  .logo__title {
    font-size: 40px;
    line-height: 1.18;
  }
  .btn-theme {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
  .change_theme {
    fill: #fff;
    stroke: #fff;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 4px 6px rgba(255, 255, 255, 0.1607843137);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .change_theme:hover, .change_theme:focus {
    stroke: #b92f2c;
    fill: #b92f2c;
    border-color: #b92f2c;
  }
  .change_theme[data-theme=onLight] {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 32px;
  }
  .btn-home {
    padding: 14px 32px;
    margin-right: 4px;
  }
  .btn_library {
    padding: 14px 24px;
  }
  .hero__form {
    margin-right: 8px;
  }
  .hero__input {
    width: 187px;
    padding: 13px 16px;
  }
  .hero__input::-moz-placeholder {
    font-size: 14px;
    line-height: 1.14;
  }
  .hero__input::placeholder {
    font-size: 14px;
    line-height: 1.14;
  }
  .logo__icon {
    width: 59px;
    height: 59px;
  }
  .logo__title {
    font-size: 64px;
  }
  .btn-theme {
    bottom: 32px;
    right: 32px;
  }
}
.hero__btn-library {
  display: none;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .hero__btn-library {
    margin-top: 16px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .hero__btn-library {
    position: absolute;
    top: 16px;
    right: 16px;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__btn-library {
    right: 32px;
  }
}

.btn-watched {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  padding: 10px 23px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  color: #b92f2c;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 4px;
}
.btn-watched:hover {
  color: #ffffff;
  background: #b92f2c;
}
@media screen and (min-width: 768px) {
  .btn-watched {
    padding: 12px 23px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-watched {
    padding: 14px 32px;
  }
}

.btn-queue {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  padding: 10px 24px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #b92f2c;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-queue:hover {
  color: #000000;
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .btn-queue {
    padding: 12px 24px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-queue {
    padding: 14px 24px;
  }
}

.is-hidden {
  display: none;
}

.scss .gallery-wrap {
  padding: 0 20px 20px 20px;
  min-height: calc(100vh - 300px);
}
@media screen and (min-width: 768px) {
  .scss .gallery-wrap {
    padding-bottom: 40px;
  }
}

.gallery {
  padding-bottom: 20px;
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    gap: 32px 16px;
  }
}

.movie-card {
  width: 280px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.movie-card:hover, .movie-card:focus {
  box-shadow: 13px 13px 21px -1px rgba(0, 0, 0, 0.58);
}
@media screen and (min-width: 768px) {
  .movie-card {
    width: 336px;
    margin-bottom: 0;
  }
  .movie-card:hover, .movie-card:focus {
    transform: scale(1.05);
  }
}
@media screen and (min-width: 1280px) {
  .movie-card {
    width: 394px;
  }
}

.movie-card__image {
  border-radius: 10px;
  min-width: 280px;
  height: 402px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .movie-card__image {
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-card__image {
    height: 574px;
  }
}

.movie-card__name {
  padding-left: 5px;
  padding-left: 5 px;
  margin-top: 10px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap; /* текст не переноситься */
  overflow: hidden; /* обрізає все за межами блоку  */
  text-overflow: ellipsis; /* додає три крапки */
}
@media screen and (min-width: 768px) {
  .movie-card__name {
    margin-top: 8px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1280px) {
  .movie-card__name {
    margin-top: 12px;
    line-height: 1.2;
    font-size: 20px;
  }
}

.movie-card__text {
  display: flex;
  padding-bottom: 2px;
  padding-left: 5px;
  font-weight: 500;
  line-height: 1.3;
  color: #b92f2c;
  align-items: baseline;
}
@media screen and (min-width: 1280px) {
  .movie-card__text {
    line-height: 1.2;
    font-size: 20px;
  }
}

.movie-card__box {
  position: absolute;
  right: 10px;
  top: 10px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  width: 36px;
  height: 16px;
  background: #b92f2c;
  border-radius: 5px;
}

.movie-card__average {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #ffffff;
}

.swiper {
  margin-bottom: 40px;
}
.swiper-slide {
  overflow: hidden;
}
.swiper-backdrop {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6588235294);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.swiper-link > * {
  pointer-events: none;
}
.swiper-link > img {
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
}
.swiper-link:hover > img, .swiper-link:focus > img {
  transform: scale(1.2);
}
.swiper-link:hover .swiper-backdrop, .swiper-link:focus .swiper-backdrop, .swiper-link:hover .swiper-backdrop > .icon-play, .swiper-link:focus .swiper-backdrop > .icon-play {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: white;
}

.swiper-button-prev {
  left: 8px;
}

.swiper-button-next {
  right: 8px;
}

.swiper-button-next-icon,
.swiper-button-prev-icon {
  width: 35px;
  height: 35px;
  fill: currentColor;
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .end-btn,
  .start-btn,
  .next-dots,
  .prev-dots {
    display: none;
  }
  .pagination {
    margin-top: 40px;
  }
  .swiper-button-next-icon,
  .swiper-button-prev-icon {
    width: 25px;
    height: 25px;
  }
  .swiper-button-prev {
    left: 4px;
  }
  .swiper-button-next {
    right: 4px;
  }
}
.footer {
  background-color: #f7f7f7;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.copyright {
  display: block;
}
@media screen and (max-width: 767px) {
  .copyright {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 768px) {
  .copyright {
    display: inline-block;
  }
}

.footer-text {
  color: #545454;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (max-width: 767px) {
  .footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.187;
  }
}

.footer-link:hover,
.footer:focus {
  color: #b92f2c;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg {
  margin-right: 10px;
  margin-left: 10px;
}

.team-modal {
  border: none;
  background: initial;
  cursor: pointer;
  text-decoration: underline;
  color: #545454;
}

.basicLightbox {
  overflow: scroll;
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
  width: 240px;
  background-color: #ffffff;
  border-radius: 15px;
}
@media screen and (max-width: 779px) {
  .team-wrapper {
    margin-top: 70px;
  }
}
@media screen and (min-width: 1260px) {
  .team-wrapper {
    width: 600px;
    border-radius: 25px;
  }
}
@media screen and (min-width: 780px) {
  .team-wrapper {
    margin: -30px;
    width: 800px;
  }
}

.team-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: calc((100% - 80px) / 2);
}
@media screen and (min-width: 780px) {
  .team-card {
    width: calc((100% - 160px) / 4);
  }
}
@media screen and (min-width: 780px) {
  .team-card {
    margin: 30px;
    width: calc((100% - 240px) / 4);
  }
}

.team-image {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 11px -2px #545454;
}

.team-name {
  margin-bottom: 5px;
  font-family: #000000;
  font-weight: 700;
}

.team-role {
  font-family: "@font-face";
  color: #000000;
}

.team-git {
  position: absolute;
  top: 65px;
  right: -10px;
  transform: scale(1);
}
@media screen and (min-width: 780px) {
  .team-git {
    top: 100px;
  }
}
@media screen and (min-width: 1260px) {
  .team-git {
    top: 120px;
  }
}
.team-git:hover, .team-git:focus {
  transform: scale(1.5);
}

.team-modal {
  text-decoration: underline;
  cursor: pointer;
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  padding: 8px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  stroke: #000000;
}
.close-btn:hover, .close-btn:focus .btn-close__icon {
  stroke: getColor("brand-color-first");
}

.close-btn__icon {
  stroke: getColor("font-colot-hed");
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: calc(100vw - 10px);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .modal {
    max-width: 280px;
    padding: 48px 20px 40px 20px;
    max-height: calc(100vh - 20px);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 704px;
    padding: 40px 36px 64px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    max-width: 806px;
    padding: 40px 12px;
  }
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

@media screen and (min-width: 768px) {
  .modal__container {
    display: flex;
  }
}

.modal__img {
  display: block;
  border-radius: 5px;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 479px) {
  .modal__img {
    width: 240px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .modal__img {
    width: 264px;
    margin-right: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__img {
    width: 375px;
    margin-right: 16px;
  }
}

.modal__title {
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 1279px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1280px) {
  .modal__title {
    font-size: 30px;
    line-height: 1.16;
  }
}

.charact__list {
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (max-width: 1279px) {
  .charact__list:first-child {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .charact__list:first-child {
    margin-right: 85px;
  }
}

.charact__name {
  color: #8c8c8c;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.charact__value {
  display: block;
  max-width: 200px;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.charact__value > span {
  display: inline-block;
  padding: 1px 4px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.charact__value > .acsent {
  background-color: #b92f2c;
  padding: 1px 10px;
  color: #ffffff;
}

.modal__about > p {
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.modal__about > .about {
  font-size: 12px;
  line-height: 1.66;
  margin-bottom: 20px;
}

.modal__button {
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #000000;
  color: #b92f2c;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  border: 1px solid #b92f2c;
  background-color: #b92f2c;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .modal__button {
    padding: 10px 12px;
    margin-right: 4px;
  }
}
@media screen and (min-width: 768px) {
  .modal__button {
    padding: 12px 18px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__button {
    padding: 14px 32px;
    margin-right: 8px;
  }
}

#NotiflixNotifyWrap {
  position: absolute;
}
@media screen and (max-width: 284px) {
  #NotiflixNotifyWrap {
    width: 180px;
    top: 150px;
    left: 36px;
  }
}
@media screen and (min-width: 285px) {
  #NotiflixNotifyWrap {
    width: 193px;
    top: 103px;
    left: 36px;
  }
}
@media screen and (min-width: 768px) {
  #NotiflixNotifyWrap {
    width: 180px;
    top: 81px;
    left: 52px;
  }
}
@media screen and (min-width: 1280px) {
  #NotiflixNotifyWrap {
    width: 193px;
    top: 85px;
    left: 69px;
  }
}

/* Demo */
.loader {
  display: none;
  justify-content: center;
}

/* Animation */
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
/* Variables */
/* Loading Icon */
.loading {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}
.loading__ring {
  position: absolute;
  width: 20px;
  height: 20px;
}
.loading__ring:first-child {
  transform: skew(30deg, 20deg);
}
.loading__ring:last-child {
  transform: skew(-30deg, -20deg) scale(-1, 1);
}
.loading__ring:last-child svg {
  animation-delay: -0.5s;
}
.loading__ring svg {
  animation: rotate 1s linear infinite;
  fill: rgba(185, 47, 44, 0.6);
}

.btn-to-top {
  position: fixed;
  z-index: 9999;
  bottom: 50px;
  right: 10px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-to-top--visible {
  opacity: 1;
}

.btn-to-top:hover .icon-to-top {
  fill: #b92f2c;
}

.icon-to-top {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1280px) {
  .icon-to-top {
    width: 50px;
    height: 50px;
  }
}/*# sourceMappingURL=index.css.map */