body {
  background-color: $bg-primary-color;
  color: $title-color;

  font-family: $primary-font;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  //   Mobile
  @media screen and (min-width: 320px) {
    width: 320px;
  }

  // Tablet
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 32px;
  }

  // Desktop
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
