$primary-font: 'Roboto', sans-serif;

$transition-timing: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$bg-primary-color: #ffffff;
$primary-title-color: #ffffff;
$footer-bg-color: #f7f7f7;
$title-color: #000000;
$accent-color: #b92f2c;
$footer-text-color: #545454;
