$primary-font: 'Roboto', sans-serif;

$transition-timing: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$bg-primary-color: #FFFFFF;
$primary-title-color: #FFFFFF;
$footer-bg-color: #F7F7F7;
$title-color: #000000;
$accent-color: #B92F2C;
$footer-text-color: #545454;
