<button class="btn login-btn-modal">Login</button>
<div class="backdrop-login">
<div class="box">
  <div class="login-overlay"></div>
  <div class="modal__box">
<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>
        Account Login
      </h1>
    </div>
    <div class="form-content">
      <form>
        <div class="form-group">
          <label for="username">Username</label><input id="username" name="username" required="" type="text" />
        </div>
        <div class="form-group">
          <label for="password">Password</label><input id="password" name="password" required="" type="password" />
        </div>
        <div class="form-group">
          <label class="form-remember"><input type="checkbox" />Remember Me</label><a class="form-recovery" href="#">Forgot Password?</a>
        </div>
        <div class="form-group">
          <button type="submit">Log In</button>
        </div>
      </form>
    </div>
  </div>
  <div class="form-panel two">
    <div class="form-header">
      <h1>
        Register Account
      </h1>
    </div>
    <div class="form-content">
      <form>
        <div class="form-group">
          <label for="username">Username</label><input id="username" name="username" required="" type="text" />
        </div>
        <div class="form-group">
          <label for="password">Password</label><input id="password" name="password" required="" type="password" />
        </div>
        <div class="form-group">
          <label for="email">Email Address</label><input id="email" name="email" required="" type="email" />
        </div>
        <div class="form-group">
          <button type="submit" class="modal__button--no">Register</button>
         </div>
       </form>
     </div>
   </div>
 </div>
  </div>
 </div>
</div>