.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px;
}

.hero__btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;

  padding: 10px 26px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.btn-home {
  color: $bg-primary-color;
  background-color: $title-color;
  transition: all $transition-timing $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.06),
      5px 8px 12px rgba(0, 0, 0, 0.16);
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 8px;
  }
}

.btn_library {
  color: $title-color;
  background-color: $primary-title-color;
  transition: all $transition-timing $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.06),
      5px 8px 12px rgba(0, 0, 0, 0.16);
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }
}

.hero__form {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.hero__input {
  color: $title-color;
  background-color: $primary-title-color;
  font-size: 12px;
  line-height: 1.16;

  width: 100%;
  border-radius: 100px;
  border: none;
  //   transition: border $transition-timing $timing-function;

  padding: 10px 14px;
  outline: transparent;

  &::placeholder {
    color: $title-color;
    font-size: 12px;
    line-height: 1.16;
  }
}

.hero__submit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  right: 14px;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  background-color: inherit;
  padding: 0;
  cursor: pointer;

  &:hover .hero__btn--icon {
    stroke: $accent-color;
    scale: 1.2;
  }
}

.hero__btn--icon {
  width: 14px;
  height: 14px;

  stroke: $title-color;
  transition: all $transition-timing $timing-function;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }
}

.logo-link {
  text-decoration: none;

  &:hover .logo__title {
    text-shadow: 0 0 15px #fff;
  }
}

.logo__icon {
  margin-right: 8px;
}

.logo__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19;
  color: $primary-title-color;
  transition: all $transition-timing $timing-function;
}

.btn-theme {
  position: absolute;

  @media screen and (max-width: 767px) {
    top: 130px;
    right: 34px;
  }
}

.change_theme {
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 1px 4px 6px #ffffff29;
  transition: all $transition-timing $timing-function;

  &:hover,
  &:focus {
    stroke: $accent-color;
    fill: $accent-color;
    border-color: $accent-color;
  }
}

.change_theme[data-theme='onLight'] {
  display: none;
}

// TABLET-STYLE
@media screen and (min-width: 768px) {
  .hero {
    padding: 16px;
    position: relative;
  }

  .hero__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .btn-home {
    padding: 12px 24px;
  }

  .btn_library {
    padding: 12px 20px;
  }

  .hero__form {
    margin-right: 4px;
  }

  .hero__input {
    width: 165px;
    padding: 11px 16px;
  }

  .hero__submit {
    right: 16px;
  }

  .hero__btn--icon {
    width: 16px;
    height: 16px;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
  }

  .logo-link {
    display: inline-block;
    width: 230px;
  }

  .logo__icon {
    width: 40px;
    height: 40px;
  }

  .logo__title {
    font-size: 40px;
    line-height: 1.18;
  }

  .btn-theme {
    right: 16px;
    bottom: 23px;
  }
}

// DESKTOP STYLE
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 32px;
  }

  .btn-home {
    padding: 14px 32px;
    margin-right: 4px;
  }

  .btn_library {
    padding: 14px 24px;
  }

  .hero__form {
    margin-right: 8px;
  }

  .hero__input {
    width: 187px;
    padding: 13px 16px;

    &::placeholder {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  .logo-link {
    width: 350px;
  }

  .logo__icon {
    width: 59px;
    height: 59px;
  }

  .logo__title {
    font-size: 64px;
  }

  .btn-theme {
    bottom: 32px;
    right: 32px;
  }
}
