.scss .gallery-wrap {
  padding: 0 20px 20px 20px;
  min-height: calc(100vh - 300px);

  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
}

.gallery {
  padding-bottom: 20px;
  padding-left: 0px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    padding-bottom: 60px;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 32px 16px;
  }
}

.movie-card {
  width: 280px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;

  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 13px 13px 21px -1px rgba(0, 0, 0, 0.58);
  }

  @media screen and (min-width: 768px) {
    width: 336px;
    margin-bottom: 0;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.movie-card__image {
  border-radius: 10px;
  min-width: 280px;
  height: 402px;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    height: 455px;
  }

  @media screen and (min-width: 1280px) {
    height: 574px;
  }
}

.movie-card__name {
  padding-left: 5px;
  padding-left: 5 px;
  margin-top: 10px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap; /* текст не переноситься */
  overflow: hidden; /* обрізає все за межами блоку  */
  text-overflow: ellipsis; /* додає три крапки */

  @media screen and (min-width: 768px) {
    margin-top: 8px;
    line-height: 1.3;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 12px;
    line-height: 1.2;
    font-size: 20px;
  }
}

.movie-card__text {
  display: flex;
  padding-bottom: 2px;
  padding-left: 5px;

  font-weight: 500;
  line-height: 1.3;
  color: #b92f2c;
  align-items: baseline;

  @media screen and (min-width: 1280px) {
    line-height: 1.2;
    font-size: 20px;
  }
}

.movie-card__box {
  position: absolute;
  right: 10px;
  top: 10px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  width: 36px;
  height: 16px;

  background: #b92f2c;
  border-radius: 5px;
}

.movie-card__average {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: #ffffff;
}
