$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-time: 500ms;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity $animation-time $timing-function;
  z-index: 999;
}

.backdrop_is-hidden {
  opacity: 0;
  pointer-events: none;
  & .modal {
    transform: translate(-50%, -50%) scaleX(0.1) scaleY(0.1);
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  padding: 8px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  stroke: #000000;

  &:hover,
  &:focus .btn-close__icon {
    fill: #b92f2c;
  }
}

.close-btn__icon {
  fill: #000000;
  transition: fill $animation-time $timing-function;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1) scaleY(1);
  width: calc(100vw - 10px);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: transform $animation-time $timing-function;
  overflow-y: scroll;

  @media screen and (max-width: 479px) {
    max-width: 280px;
    height: calc(100vh - 50px);
    padding: 48px 20px 0px 20px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 460px;
    height: calc(100vh - 50px);
    padding: 48px 20px 0px 20px;
  }
  @media screen and (min-width: 768px) {
    max-width: 704px;
    padding: 40px 36px 64px 36px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 806px;
    padding: 40px 12px;
    overflow-y: visible;
  }
}

.modal__container {
  display: block;
  height: fit-content;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.modal__img {
  display: block;
  border-radius: 5px;
  box-shadow: 5px -3px 15px 1px rgba(100, 92, 92, 0.75);
  object-fit: cover;

  @media screen and (max-width: 479px) {
    width: 240px;
    height: 357px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin: 0 auto;
    width: 264px;
    margin-bottom: 20px;
    object-fit: cover;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 264px;
    height: 374px;
    margin-right: 68px;
  }
  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.modal__title {
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (max-width: 1279px) {
    font-size: 20px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.16;
  }
}

.charact__list {
  display: inline-block;
  margin-bottom: 20px;

  &:first-child {
    @media screen and (max-width: 1279px) {
      margin-right: 40px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 85px;
    }
  }
}
.charact__name {
  color: #8c8c8c;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.charact__value {
  display: block;
  max-width: 200px;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}
.charact__value > span {
  display: inline-block;
  padding: 1px 4px;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.charact__value > .acsent {
  background-color: #b92f2c;
  padding: 1px 10px;
  color: #ffffff;
}
.modal__about > p {
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}
.modal__about > .about {
  font-size: 12px;
  line-height: 1.66;
  margin-bottom: 10px;
}

.modal__button {
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #000000;
  color: #b92f2c;
  transition: color $animation-time $timing-function;
  transition: background-color $animation-time $timing-function;

  &:hover,
  &:focus {
    border: 1px solid #b92f2c;
    background-color: #b92f2c;
    color: #ffffff;
    cursor: pointer;
  }

  @media screen and (max-width: 479px) {
    font-size: 10px;
    padding: 8px 10px;
    margin-right: 4px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 10px 12px;
    margin-right: 4px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    padding: 12px 18px;
    margin-right: 8px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    padding: 14px 32px;
    margin-right: 8px;
  }
}

iframe {
  @media screen and (max-width: 479px) {
    width: 280px;
    height: 180px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 320px;
    height: 240px;
  }
  @media screen and (min-width: 768px) {
    width: 640px;
    height: 360px;
  }
  @media screen and (min-width: 1280px) {
    width: 800px;
    height: 480px;
  }
}

.trailer-button {
  align-items: center;
  display: flex;
  @media screen and (max-width: 479px) {
    padding: 8px 10px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-left: 0px;
    padding: 8px 10px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 60px;
    padding: 12px 18px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 80px;
  }
}

.trailer-icons {
  margin-left: 20px;
  fill: #df1612;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-left: 5px;
  }
}

//     font-size: 10px;
//     &:first-child {
//       margin-right: 4px;
//     }
//   }
//   @media screen and (min-width: 768px) {
//     padding: 12px 18px;
//     &:first-child {
//       margin-right: 8px;
//     }
//   }
//   @media screen and (min-width: 1280px) {
//     padding: 14px 32px;
//     &:first-child {
//       margin-right: 8px;
//     }
//   }
