$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-time: 500ms;

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}
.backdrop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  width: calc(100vw - 10px);
  max-width: 806px;
  min-height: 609px;
  padding: 40px 12px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop .is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  transform: translate(-50%, -50%) scale(0.9);
}

// Кнопка закриття вікна

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  padding: 8px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus .btn-close__icon {
    fill: getColor('brand-color-first');
  }
}

.close-btn__icon {
  fill: getColor('font-colot-hed');
  transition: fill $animation-time $timing-function;
}

.modal__container {
  display: flex;
  // padding: 0 12px 40px 12px;
  // justify-content: space-around;
  // align-items: center;
  // background-color: green;
}
.modal__img {
  display: block;
  width: 375px;
  margin-right: 16px;
  border-radius: 5px;
}

.modal__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  margin-bottom: 20px;
}
.charact__list {
  display: inline-block;
  margin-bottom: 20px;

  &:first-child {
    margin-right: 85px;
  }
}
.charact__name {
  color: #8c8c8c;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.charact__value {
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}
.charact__value > span {
  display: inline-block;
  padding: 1px 4px;
  background-color: #F7F7F7;
  border-radius: 5px;
}
.charact__value > .acsent {
  background-color: #B92F2C;
  padding: 1px 10px;
}
.modal__about > p {
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}
.modal__about > .about {
  font-size: 12px;
  line-height: 1.66;
  font-weight: 500;
  margin-bottom: 20px;
}