.swiper {
  margin-bottom: 40px;

  &-slide {
    overflow: hidden;
  }
  &-backdrop {
    opacity: 0;
    background-color: #000000a8;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-link {
    & > * {
      pointer-events: none;
    }
    & > img {
      transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 5px;
    }
    &:hover > img,
    &:focus > img {
      transform: scale(1.2);
    }
    &:hover .swiper-backdrop,
    &:focus .swiper-backdrop,
    &:hover .swiper-backdrop > .icon-play,
    &:focus .swiper-backdrop > .icon-play {
      opacity: 1;
    }
  }
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: white;
}
.swiper-button-prev {
  left: 8px;
}
.swiper-button-next {
  right: 8px;
}
.swiper-button-next-icon,
.swiper-button-prev-icon {
  width: 35px;
  height: 35px;
  fill: currentColor;
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .end-btn,
  .start-btn,
  .next-dots,
  .prev-dots {
    display: none;
  }
  .pagination {
    margin-top: 40px;
  }
  .swiper-button-next-icon,
  .swiper-button-prev-icon {
    width: 25px;
    height: 25px;
  }
  .swiper-button-prev {
    left: 4px;
  }
  .swiper-button-next {
    right: 4px;
  }
}
